# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
.env.*
*.sqlite
*.db
*chroma_db
# Chroma
chroma_db/

# Ollama models
ollama_models/

# Streamlit cache
.streamlit/

# Logs
*.log
/chroma_db
/data
/chroma_langchain_db
/chroma_db
